body {
    font-family: 'SimHei', '黑体', Arial, sans-serif;
    background: rgba(0, 0, 0, 0);
}

#progress {
    background-color: #ddd;
}

#bar {
    width: 10%;
    height: 30px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 30px;
    color: white;
}