body {
    background-color: rgba(12, 12, 12, 0.4);
}

p {
    font-family: 微软雅黑;
    color: snow;
}

#TargetName {
    font-size: 36 px;
    font-weight: 600;
    text-shadow: -1px -1px 0 #4f4d57, 1px -1px 0 #4f4d57, -1px 1px 0 #4f4d57, 1px 1px 0 #4f4d57, 0px 2px 2px rgba(0, 0, 0, 0.6);
}

#TargetProperties {
    margin: top 5px;
    height: 50px;
    font-size: 24 px;
}