body {
    font-family: 'SimHei', '黑体', Arial, sans-serif;
    color: white;
    background: rgba(0, 0, 0, 0);
    padding: 5% 5%;
}

#container {
    box-shadow: rgba(0, 0, 0, 0.6) 0 0 0.5rem 1rem;
    background-color: rgba(0, 0, 0, 0.6);
}

#target-name {
    margin: 2.5%;
}

hr {
    margin: 1% 2.5% 1% 2.5%;
    width: 95%;
}

#target-properties {
    padding: 0 2.5%;
    height: 1rem;
}

#btn-test {
    color: black;
}