body {
    background-color: rgba(0, 0, 0, 0.75);
    font-family: 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
    color: white;
}

#target-name {
    margin: 2.5%;
}

hr {
    margin: 1% 2.5% 1% 2.5%;
    width: 95%;
}

#target-properties {
    padding: 0 2.5%;
}