<?xml version="1.0" encoding="utf-8"?>
<TimelineConfig>
  <HideDesignINotice>false</HideDesignINotice>
  <Enabled>true</Enabled>
  <OverlayVisible>true</OverlayVisible>
  <Left>90</Left>
  <Top>376</Top>
  <Width>215</Width>
  <Height>165</Height>
  <NoticeLeft>10</NoticeLeft>
  <IsTimelineLiveUpdate>false</IsTimelineLiveUpdate>
  <NotifyInterval>20</NotifyInterval>
  <ProgressBarRefreshInterval>50</ProgressBarRefreshInterval>
  <TimelineRefreshInterval>200</TimelineRefreshInterval>
  <PSyncDetectInterval>100</PSyncDetectInterval>
  <NotifyThreadPriority>Normal</NotifyThreadPriority>
  <TimelineThreadPriority>Normal</TimelineThreadPriority>
  <NoticeTop>10</NoticeTop>
  <NoticeWidth>300</NoticeWidth>
  <NoticeHeight>250</NoticeHeight>
  <IsMute>false</IsMute>
  <Clickthrough>true</Clickthrough>
  <OverlayOpacity>1</OverlayOpacity>
  <OverlayScale>0.69999999999999973</OverlayScale>
  <NearestActivityScale>1.25</NearestActivityScale>
  <NextActivityBrightness>0.8</NextActivityBrightness>
  <ShowActivitiesCount>8</ShowActivitiesCount>
  <ShowActivitiesTime>120</ShowActivitiesTime>
  <ShowProgressBarTime>15</ShowProgressBarTime>
  <IndicatorVisible>false</IndicatorVisible>
  <IndicatorStyle>Default</IndicatorStyle>
  <ActivityMargin>1 5 1 0</ActivityMargin>
  <OverlayBackground>#56000000</OverlayBackground>
  <Styles>
    <Style>
      <Name>Default</Name>
      <IsDefault>true</IsDefault>
      <IsDefaultNotice>false</IsDefaultNotice>
      <Font FontFamily="Microsoft YaHei" Size="18" Stretch="Normal" Style="Normal" Weight="Normal" />
      <Color>#FFFFFFFF</Color>
      <OutlineColor>#00FFFFFF</OutlineColor>
      <BarColor>#FF00BFFF</BarColor>
      <BarHeight>3</BarHeight>
      <IsCircleStyle>false</IsCircleStyle>
      <Icon />
      <IconSize>24</IconSize>
    </Style>
    <Style>
      <Name>HEADER</Name>
      <IsDefault>false</IsDefault>
      <IsDefaultNotice>false</IsDefaultNotice>
      <Font FontFamily="Consolas" Size="30" Stretch="Normal" Style="Normal" Weight="Bold" />
      <Color>#FFFFFFFF</Color>
      <OutlineColor>#00FFFFFF</OutlineColor>
      <BarColor>#FF00BFFF</BarColor>
      <BarHeight>3</BarHeight>
      <IsCircleStyle>false</IsCircleStyle>
      <Icon />
      <IconSize>24</IconSize>
    </Style>
    <Style>
      <Name>NOTICE</Name>
      <IsDefault>false</IsDefault>
      <IsDefaultNotice>true</IsDefaultNotice>
      <Font FontFamily="Arial" Size="32" Stretch="Normal" Style="Normal" Weight="Bold" />
      <Color>#FFFFFFFF</Color>
      <OutlineColor>#FFB22222</OutlineColor>
      <BarColor>#00000000</BarColor>
      <BarHeight>0</BarHeight>
      <IsCircleStyle>false</IsCircleStyle>
      <Icon />
      <IconSize>72</IconSize>
    </Style>
    <Style>
      <Name>NOTICE_NORMAL</Name>
      <IsDefault>false</IsDefault>
      <IsDefaultNotice>false</IsDefaultNotice>
      <Font FontFamily="Arial" Size="32" Stretch="Normal" Style="Normal" Weight="Bold" />
      <Color>#FFFFFFFF</Color>
      <OutlineColor>#FF000080</OutlineColor>
      <BarColor>#00000000</BarColor>
      <BarHeight>0</BarHeight>
      <IsCircleStyle>false</IsCircleStyle>
      <Icon />
      <IconSize>72</IconSize>
    </Style>
    <Style>
      <Name>AoE</Name>
      <IsDefault>false</IsDefault>
      <IsDefaultNotice>false</IsDefaultNotice>
      <Font FontFamily="Microsoft YaHei" Size="18" Stretch="Normal" Style="Normal" Weight="Normal" />
      <Color>#FF9370DB</Color>
      <OutlineColor>#00FFFFFF</OutlineColor>
      <BarColor>#FFFF4500</BarColor>
      <BarHeight>3</BarHeight>
      <IsCircleStyle>false</IsCircleStyle>
      <Icon />
      <IconSize>24</IconSize>
    </Style>
    <Style>
      <Name>伤害</Name>
      <IsDefault>false</IsDefault>
      <IsDefaultNotice>false</IsDefaultNotice>
      <Font FontFamily="Microsoft YaHei" Size="18" Stretch="Normal" Style="Normal" Weight="Normal" />
      <Color>#FFEDCA00</Color>
      <OutlineColor>#00FFFFFF</OutlineColor>
      <BarColor>#FFFF4500</BarColor>
      <BarHeight>3</BarHeight>
      <IsCircleStyle>false</IsCircleStyle>
      <Icon />
      <IconSize>24</IconSize>
    </Style>
    <Style>
      <Name>分摊</Name>
      <IsDefault>false</IsDefault>
      <IsDefaultNotice>false</IsDefaultNotice>
      <Font FontFamily="Microsoft YaHei" Size="18" Stretch="Normal" Style="Normal" Weight="Normal" />
      <Color>#FF00B2ED</Color>
      <OutlineColor>#00FFFFFF</OutlineColor>
      <BarColor>#FFFF4500</BarColor>
      <BarHeight>3</BarHeight>
      <IsCircleStyle>false</IsCircleStyle>
      <Icon />
      <IconSize>24</IconSize>
    </Style>
    <Style>
      <Name>死刑</Name>
      <IsDefault>false</IsDefault>
      <IsDefaultNotice>false</IsDefaultNotice>
      <Font FontFamily="Microsoft YaHei" Size="18" Stretch="Normal" Style="Normal" Weight="Normal" />
      <Color>#FFE93F00</Color>
      <OutlineColor>#00FFFFFF</OutlineColor>
      <BarColor>#FFFF4500</BarColor>
      <BarHeight>3</BarHeight>
      <IsCircleStyle>false</IsCircleStyle>
      <Icon />
      <IconSize>24</IconSize>
    </Style>
  </Styles>
  <TimelineFiles>
    <File Key="C:\Program Files (x86)\ACT国服整合\Plugins\ACT.Hojoring\resources\timeline\无瑕灵君歼殛战.xml" Value="true" />
    <File Key="C:\Program Files (x86)\ACT国服整合\Plugins\ACT.Hojoring\resources\timeline\朱雀诗魂战.xml" Value="true" />
    <File Key="C:\Program Files (x86)\ACT国服整合\Plugins\ACT.Hojoring\resources\timeline\欧米茄零式时空狭缝 (西格玛幻境1).xml" Value="true" />
    <File Key="C:\Program Files (x86)\ACT国服整合\Plugins\ACT.Hojoring\resources\timeline\欧米茄零式时空狭缝 (西格玛幻境2).xml" Value="true" />
    <File Key="C:\Program Files (x86)\ACT国服整合\Plugins\ACT.Hojoring\resources\timeline\欧米茄零式时空狭缝 (西格玛幻境3).xml" Value="true" />
    <File Key="C:\Program Files (x86)\ACT国服整合\Plugins\ACT.Hojoring\resources\timeline\欧米茄零式时空狭缝 (西格玛幻境4).xml" Value="true" />
    <File Key="C:\Program Files (x86)\ACT国服整合\Plugins\ACT.Hojoring\resources\timeline\欧米茄零式时空狭缝 (阿尔法幻境1).xml" Value="true" />
    <File Key="C:\Program Files (x86)\ACT国服整合\Plugins\ACT.Hojoring\resources\timeline\欧米茄零式时空狭缝 (阿尔法幻境2).xml" Value="true" />
    <File Key="C:\Program Files (x86)\ACT国服整合\Plugins\ACT.Hojoring\resources\timeline\欧米茄零式时空狭缝 (阿尔法幻境3).xml" Value="true" />
    <File Key="C:\Program Files (x86)\ACT国服整合\Plugins\ACT.Hojoring\resources\timeline\欧米茄零式时空狭缝 (阿尔法幻境4).xml" Value="true" />
    <File Key="C:\Program Files (x86)\ACT国服整合\Plugins\ACT.Hojoring\resources\timeline\白虎诗魂战.xml" Value="true" />
    <File Key="C:\Program Files (x86)\ACT国服整合\Plugins\ACT.Hojoring\resources\timeline\缇坦妮雅歼殛战.xml" Value="true" />
    <File Key="C:\Program Files (x86)\ACT国服整合\Plugins\ACT.Hojoring\resources\timeline\伊甸希望乐园 (觉醒篇1).xml" Value="true" />
    <File Key="C:\Program Files (x86)\ACT国服整合\Plugins\ACT.Hojoring\resources\timeline\伊甸希望乐园 (觉醒篇2).xml" Value="true" />
    <File Key="C:\Program Files (x86)\ACT国服整合\Plugins\ACT.Hojoring\resources\timeline\伊甸希望乐园 (觉醒篇3).xml" Value="true" />
    <File Key="C:\Program Files (x86)\ACT国服整合\Plugins\ACT.Hojoring\resources\timeline\伊甸希望乐园 (觉醒篇4).xml" Value="true" />
    <File Key="C:\Program Files (x86)\ACT国服整合\Plugins\ACT.Hojoring\resources\timeline\伊甸零式希望乐园 (觉醒篇1).xml" Value="true" />
    <File Key="C:\Program Files (x86)\ACT国服整合\Plugins\ACT.Hojoring\resources\timeline\伊甸零式希望乐园 (觉醒篇2).xml" Value="true" />
    <File Key="C:\Program Files (x86)\ACT国服整合\Plugins\ACT.Hojoring\resources\timeline\伊甸零式希望乐园 (觉醒篇3).xml" Value="true" />
    <File Key="C:\Program Files (x86)\ACT国服整合\Plugins\ACT.Hojoring\resources\timeline\伊甸零式希望乐园 (觉醒篇4).xml" Value="true" />
  </TimelineFiles>
</TimelineConfig>
